.flexible-images {
  max-width: 100%;
  height: auto;
}
main {
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-image:url("../images/img_kanazawa.jpg")
}

.container {
  display: flex;
  flex-direction: row;
}
.box2 {
  background-color:#dddddd;
  border: none;
  margin: 20px;
  flex: 1;
  text-align: center
}
@media (max-width: 768px){
  .container {
    flex-direction: column;
  }
   main {
    height: 250px;
  }
}
.box1 {
  border: none;
  margin: 10px 5px 30px 5px;
  flex: 1;
  text-align: left
}
.box3 {
  background-color: #dddddd;
  font-size: 20px;
  border: none;
  padding: 20px;
  margin: 20px 0px 20px 0px;
  text-align: center;
}
.h1 {
  font-size: 25px
}
.sample {
    width:200px;
    font-size:24px;
    font-weight:bold;
    text-decoration:none;
    display:block;
    text-align:center;
    margin:0 auto;
    color:#fff000;
    background-color:#000000;
    border-radius:10px;
}
